test1/RH001_-_testMappingContext/src/main/resources/xsd/metadataDatehub.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
    xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="d">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="results" maxOccurs="unbounded" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element maxOccurs="unbounded" type="xs:string" name="sourceSystemId"/>
                            <xs:element maxOccurs="unbounded" type="xs:string" name="entity"/>
                            <xs:element maxOccurs="unbounded" type="xs:string" name="property"/>
                            <xs:element maxOccurs="unbounded"  minOccurs="0" type="xs:string" name="isKeyField"/>
                            <xs:element maxOccurs="unbounded" type="xs:string" name="required"/>
                            <xs:element maxOccurs="unbounded" type="xs:string" name="creatable"/>
                            <xs:element maxOccurs="unbounded" type="xs:string" name="updatable"/>
                            <xs:element maxOccurs="unbounded" type="xs:string" name="upsertable"/>
                            <xs:element maxOccurs="unbounded" type="xs:string" name="visible"/>
                            <xs:element maxOccurs="unbounded" type="xs:string" name="sortable"/>
                            <xs:element maxOccurs="unbounded" type="xs:string" name="filterable"/>
                            <xs:element maxOccurs="unbounded" type="xs:string" name="maxLength"/>
                            <xs:element maxOccurs="unbounded" type="xs:string" name="picklist"/>
                            <xs:element maxOccurs="unbounded" type="xs:string" name="label"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>