test1/RH001_-_testMappingContext/src/main/resources/xsd/test.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://schemas.microsoft.com/ado/2008/09/edm" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Schema">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="EntityType">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Key">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="PropertyRef">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute type="xs:string" name="Name"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Property" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute type="xs:string" name="Name" use="optional"/>
                      <xs:attribute type="xs:string" name="Type" use="optional"/>
                      <xs:attribute type="xs:string" name="Nullable" use="optional"/>
                    
                      <xs:attribute type="xs:short" name="MaxLength" use="optional"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute type="xs:string" name="Name"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute type="xs:string" name="Namespace"/>
    </xs:complexType>
  </xs:element>
</xs:schema>